@media screen and (min-width: 768px){
    nav{
        padding-left: 20px;
        padding-right: 20px;
        height: 55px;
        flex-shrink:0;
        box-shadow: 0 0 5px var(--main-shadow-color);
        z-index: 999;
        background-color: var(--main-bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .logo{
        font-size: 1.5rem;
        cursor: pointer;
    }
    .nav-tiem{
        margin-right: 0;
        display: flex;
    }
    .nav-tiem div{
        margin: 5px;
        cursor: pointer;
        transition: 300ms;
    }
    .nav-tiem div:hover{
        color: var(--main-subtext-color);
    }
    .search i{
        font-size: 0.75rem;
    }
    .search input{
        outline: none;
        border: none;
    }
}

@media screen and (max-width: 768px){
    nav{
        display: none;
    }
}