body,html{
    padding: 0;
    margin: 0;
    height: 100%;
}

@media print {
    :has(.print-element) > :not(.print-element):not(:has(.print-element)) {
      display: none;
    }
  }

@media screen and (min-width: 768px){
    body{
        background-color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        color: var(--main-text-color);
    }
    main{
        flex-grow: 1;
        display: flex;
        min-height: 0;
    }
    header{
        width: 200px;
        flex-shrink:0;
        flex-grow: 0;
        padding: 10px;
        overflow-y: scroll;
    }
    header div{
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        transition: 300ms;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        white-space: nowrap;
    }
    header div:hover{
        background-color: var(--main-card-color);
        color: var(--main-theme-color);
    }
    header .dir_text{
        cursor: auto;
    }
    header .dir_text:hover{
        background-color: var(--main-bg-color);
        color: var(--main-text-color);
    }
    header .p_h2{
        color: var(--main-subtext-color);
        padding-left: 20px;
        font-size: 0.9rem;
    }
    header .p_h3{
        color: var(--main-subtext-color);
        padding-left: 30px;
        font-size: 0.8rem;
    }
    header .p_h4{
        color: var(--main-subtext-color);
        padding-left: 40px;
        font-size: 0.7rem;
    }
    header .p_h5{
        color: var(--main-subtext-color);
        padding-left: 50px;
        font-size: 0.6rem;
    }
    header .p_h6{
        color: var(--main-subtext-color);
        padding-left: 60px;
        font-size: 0.5rem;
    }
    header .active{
        color: var(--main-theme-color);
    }
    section{
        flex-grow: 2;
        padding: 10px 20px;
        overflow-y: scroll;
        box-shadow: 0 0 5px var(--main-shadow-color);
        z-index: 800;
        flex-basis: 0;
        cursor: text;
    }
    footer{
        flex-grow: 1;
        padding: 10px;
        flex-basis: 0;
        overflow-y: scroll;
    }
    .md_title{
        font-size: 3rem;
    }
    .md_info{
        font-size: 0.8rem;
        color: var(--main-subtext-color);
    }
    .article h1,.article h2{
        margin-bottom: 10px;
    }
    .article h1:hover,.article h2:hover{
        border-left: 4px solid var(--main-theme-color);
        margin-left: -10px;
        padding-left: 6px;
    }
    .article p:hover,.article h3:hover,.article h4:hover,.article h5:hover,.article h6:hover{
        border-left: 2px solid var(--main-theme-color);
        margin-left: -8px;
        padding-left: 6px;
    }
    .article p code{
        color: var(--main-row-code-color);
        background-color: var(--main-bg-code-color);
        border-radius: 2px;
        padding: 3px;
    }

    hr{
        background-color: var(--main-shadow-color);
        height: 1px;
        border: none;
    }
    .article>pre>code{
        border: 1px solid var(--main-shadow-color);
        border-radius: 4px;
    }
    .CtxtMenu_MenuFrame{
        z-index: 99999 !important;
    }
    .comment_card{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
        color: var(--main-subtext-color);
    }
    .comment_send{
        width: 100%;
    }
    .comment_send>div{
        height: 30px;
        margin-bottom: 10px;
        position: relative;
    }
    .comment_send div input{
        height: 100%;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-left: 2px solid var(--main-theme-color);
        padding-left: 5px;
        border-bottom: 1px solid var(--main-shadow-color);
        width: 100%;
    }
    .comment_send div input[type=text]{
        width: 235px;
    }
    .comment_send div input[type=submit]{
        position: absolute;
        width: 80px;
        right: 0px;
        cursor: pointer;
        border-left: none;
        padding-left: 0;
    }
    .comment_send>textarea{
        width: 100%;
        height: 80px;
        outline: none;
        box-sizing: border-box;
        border: none;
        border-left: 2px solid var(--main-theme-color);
        padding-left: 5px;
        resize: vertical;
        border-bottom: 1px solid var(--main-shadow-color);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px){
    header{
        display: none;
    }
    body{
        padding: 10px;
    }
    .md_title{
        font-size: 3rem;
    }
    .md_info{
        font-size: 0.8rem;
        color: var(--main-subtext-color);
    }
}

table{
    width: 100%;
    border-collapse: collapse;
}

table caption{
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}

th,td{
    border: 1px solid var(--main-subtext-color);
    text-align: center;
    padding: 8px 0;
}

table thead tr{
    background-color: var(--main-theme-color);
    color: white;
}

table tbody tr:nth-child(even){
    background-color: var(--mian-td-even);
}

table tbody tr:hover{
    
}

table tbody tr td:first-child{
    
}

table tfoot tr td{
    text-align: right;
    padding-right: 20px;
}


::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: rgba(#101F1C, 0.1);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-thumb-color);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  transition: background-color 300ms;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-thumb-color);
}
