body,html{
    padding: 0;
    margin: 0;
    height: 100%;
}

@media print {
    :has(.print-element) > :not(.print-element):not(:has(.print-element)) {
      display: none;
    }
  }

@media screen and (min-width: 768px){
    body{
        background-color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    nav{
        padding-left: 20px;
        padding-right: 20px;
        height: 55px;
        flex-shrink:0;
        box-shadow: 0 0 5px var(--main-shadow-color);
        z-index: 999;
        background-color: var(--main-bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .logo{
        font-size: 1.5rem;
    }
    .nav-tiem{
        margin-right: 0;
    }
    main{
        flex-grow: 1;
        display: flex;
        min-height: 0;
    }
    header{
        width: 200px;
        flex-shrink:0;
        flex-grow: 0;
        padding: 10px;
    }
    header div{
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        transition: 300ms;
    }
    header div:hover{
        background-color: var(--main-card-color);
    }
    header .p_h2{
        color: var(--main-subtext-color);
        padding-left: 20px;
        font-size: 0.9rem;
    }
    header .p_h3{
        color: var(--main-subtext-color);
        padding-left: 30px;
        font-size: 0.8rem;
    }
    section{
        flex-grow: 2;
        padding: 10px;
        overflow-y: scroll;
        box-shadow: 0 0 5px var(--main-shadow-color);
        z-index: 800;
        flex-basis: 0;
    }
    footer{
        flex-grow: 1;
        padding: 20px;
        flex-basis: 0;
    }
    .md_title{
        font-size: 3rem;
    }
    .md_info{
        font-size: 0.8rem;
        color: var(--main-subtext-color);
    }
    
}

@media screen and (max-width: 768px){
    nav,header{
        display: none;
    }
}