:root{
    --main-bg-color: white;
    --main-tr-color:#EFF3F5;
    --mian-td-even:#F7F7F7;
    --main-card-color:rgb(226, 226, 226);
    --main-em-color: rgb(9, 202, 255);
    --main-subtext-color:rgb(94,94,94);
    --main-shadow-color:rgba(0,0,0,0.3);
    --main-row-code-color:#A31515;
    --main-bg-code-color:#F3F3F3;
}